body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.content {
    background-color: lightblue;
}

.container-left {
    background-color: lightgreen;
}

.container-right {
    background-color: lightslategray;
}