#footer {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: transparent;
    color: white;
    text-align: center;
    bottom: 0;
}

#footer-fixed {
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
}

@media screen and (min-width:480px) {
    #footer {
        width: 100%;
        height: 50px;
        margin-top: 25px;
        background-color: transparent;
        color: white;
        text-align: center;
        bottom: 0;
    }
    #footer-fixed {
        width: 100%;
        height: 50px;
        background-color: transparent;
        color: white;
        text-align: center;
        bottom: 0;
        position: fixed;
    }
}

@media screen and (min-width:360px) {
    #footer {
        width: 100%;
        height: 50px;
        margin-top: 25px;
        background-color: transparent;
        color: white;
        text-align: center;
        bottom: 0;
        font-size: 0.6em;
    }
    #footer-fixed {
        width: 100%;
        height: 50px;
        background-color: transparent;
        color: white;
        text-align: center;
        bottom: 0;
        position: fixed;
        font-size: 0.6em;
    }
}

@media screen and (min-width:560px) {
    #footer {
        width: 100%;
        height: 50px;
        margin-top: 25px;
        background-color: transparent;
        color: white;
        text-align: center;
        bottom: 0;
    }
    #footer-fixed {
        width: 100%;
        height: 50px;
        background-color: transparent;
        color: white;
        text-align: center;
        bottom: 0;
        position: fixed;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    #footer {
        margin-top: 25px;
        width: 100%;
        height: 50px;
        background-color: transparent;
        color: white;
        text-align: center;
        bottom: 0;
        font-size: 1em;
    }
    #footer-fixed {
        width: 100%;
        height: 50px;
        background-color: transparent;
        color: white;
        text-align: center;
        bottom: 0;
        position: fixed;
        font-size: 1em;
    }
}

@media screen and (min-width:480px) {}

@media screen and (min-width:768px) and (max-width:1024px) {}