.bottom .contact_view {
    text-align: left !important;
}

.submit-button {
    text-align: center !important;
}

.center-container {
    width: 100%;
}

.Form {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form {
        margin-top: 40px;
    }
}

.Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item {
        padding-left: 14px;
        padding-right: 0px;
        padding-top: 48px;
        padding-bottom: 48px;
        flex-wrap: wrap;
    }
}

.Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Label {
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 30px;
    }
}

.Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Label.isMsg {
        margin-top: 0;
    }
}

.Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #fff;
    font-size: 14px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Label-Required {
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 64px;
        font-size: 24px;
    }
}

.Form-Item-Input-Dropdown {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 10px;
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    max-width: 100%;
    background: #eaedf2;
    font-size: 16px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Input-Dropdown {
        margin-left: 0;
        margin-top: 18px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        height: 50px;
        flex: 1;
        width: 100%;
        max-width: 100%;
        background: #eaedf2;
        font-size: 20px;
    }
}

.Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 10px 0;
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    flex: 1;
    background: #eaedf2;
    font-size: 16px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Input {
        margin-left: 0;
        margin-top: 18px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        height: 50px;
        flex: 1;
        width: 100%;
        max-width: 100%;
        background: #eaedf2;
        font-size: 28px;
    }
}

.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 10px;
    padding-left: 1em;
    padding-right: 1em;
    height: 180px;
    background: #eaedf2;
    font-size: 18px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Textarea {
        width: 100%;
        max-width: 100%;
        margin-top: 18px;
        margin-left: 0;
        height: 300px;
        flex: inherit;
        font-size: 28px;
    }
}

.Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Btn {
        margin-top: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 160px;
        font-size: 16px;
    }
}

.select-user-type-button {
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: lightgray;
    color: darkgray;
}

.select-user-type-button-activated {
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #5bc8ac;
    color: white;
}

.form-button-wrapper {
    width: 100%-40px;
    margin-top: 10px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .select-user-type-button {
        width: 180px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 45px;
        padding: 12px 8px;
        border-radius: 5px;
        background-color: lightgray;
        color: darkgray;
    }
    .select-user-type-button-activated {
        width: 180px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 45px;
        padding: 12px 8px;
        border-radius: 5px;
        background-color: #5bc8ac;
        color: white;
    }
    .form-button-wrapper {
        width: 100%;
        margin-left: 0px;
    }
}

.submit-button {
    width: 200px;
    height: 35px;
    font-size: 11px;
    background-color: #141126;
    border-radius: 2px;
    border: 1px solid turquoise;
    position: relative;
    box-shadow: 0px 0px 5px turquoise;
    margin: 30px auto;
}

.submit-button p {
    z-index: 999;
    position: absolute;
    color: white;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    box-shadow: 0px 0px 7px white;
    border-bottom: 2.3px solid white;
}

.submit-button-overlayered-z5 {
    width: 200px;
    height: 35px;
    background: linear-gradient(155deg, #141126 0%, #141126 60%, #FFC778 45%, #FFC778 100%);
    opacity: 0.6;
}

.submit-button-overlayered-z4 {
    width: 200px;
    height: 35px;
    background: linear-gradient(45deg, #141126 0%, #141126 75%, #58b4ea 50%, #58b4ea 100%);
    opacity: 0.5;
}

.submit-button-overlayered-z3 {
    width: 200px;
    height: 35px;
    background-color: turquoise;
    opacity: 0.8;
}

.submit-button-overlayered-z2 {
    width: 200px;
    height: 35px;
    background-color: turquoise;
    background: linear-gradient(90deg, #141126 0%, #141126 35%, turquoise 70%, turquoise 100%);
    opacity: 0.5;
}

.submit-button-overlayered-z1 {
    width: 200px;
    height: 35px;
    background-color: turquoise;
    background: linear-gradient(90deg, #141126 0%, #141126 45%, white 90%, white 100%);
    opacity: 0.5;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .submit-button {
        width: 80%;
        height: 50px;
    }
    .submit-button p {
        z-index: 999;
        position: absolute;
        color: white;
        width: 100%;
        padding: 8px 0;
        font-size: 36px;
        box-shadow: 0px 0px 7px white;
        border-bottom: 2.3px solid white;
    }
    .submit-button-overlayered-z5 {
        width: 80%;
        height: 50px;
        background: linear-gradient(155deg, #141126 0%, #141126 60%, #FFC778 45%, #FFC778 100%);
        opacity: 0.6;
    }
    .submit-button-overlayered-z4 {
        width: 80%;
        height: 50px;
        background: linear-gradient(45deg, #141126 0%, #141126 75%, #58b4ea 50%, #58b4ea 100%);
        opacity: 0.5;
    }
    .submit-button-overlayered-z3 {
        width: 80%;
        height: 50px;
        background-color: turquoise;
        opacity: 0.8;
    }
    .submit-button-overlayered-z2 {
        width: 80%;
        height: 50px;
        background: linear-gradient(90deg, #141126 0%, #141126 35%, turquoise 70%, turquoise 100%);
        opacity: 0.5;
    }
    .submit-button-overlayered-z1 {
        width: 80%;
        height: 50px;
        background: linear-gradient(90deg, #141126 0%, #141126 45%, white 90%, white 100%);
        opacity: 0.5;
    }
}