.bottom .contact_view {
    text-align: left !important; 
    /* .bottomのtext-alignを消すために!imortantを使用（通常は使うべきではない） */
}

.submit-button {
    text-align: center !important; 
}

.center-container {
    width: 100%;
}

.Form {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .Form {
        margin-top: 40px;
    }
}


.Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: left;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item {
        padding-left: 14px;
        padding-right: 0px;
        padding-top: 48px;
        padding-bottom: 48px;
        flex-wrap: wrap;
    }
}

.Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
}


.Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Label {
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}
.Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Label.isMsg {
        margin-top: 0;
    }
}
.Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #fff;
    font-size: 14px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Label-Required {
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 32px;
        font-size: 10px;
    }
}

.Form-Item-Input-2 {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    flex: 1;
    width: 150%;
    max-width: 435px;
    background: #eaedf2;
    font-size: 16px;
}

.Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 16px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Input {
        margin-left: 0;
        margin-top: 18px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        height: 50px;
        flex: 1;
        width: 100%;
        max-width: 100%;
        background: #eaedf2;
        font-size: 28px;
    }
}

.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 180px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Item-Textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }
}
.Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .Form-Btn {
        margin-top: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 160px;
        font-size: 16px;
    }
}

.select-user-type-button {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: lightgray;
    color: darkgray;
}

.select-user-type-button-activated {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #5bc8ac;
    color: white;
}

.submit-button {
    width: 200px;
    height: 35px;
    font-size: 11px;
    background-color: #141126;
    border-radius: 2px;
    border: 1px solid turquoise;
    position: relative;
    box-shadow: 0px 0px 5px turquoise;
    margin: 30px auto;
}

.submit-button p {
    z-index: 999;
    position: absolute;
    color: white;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    box-shadow: 0px 0px 7px white;
    border-bottom: 2.3px solid white;
}

.submit-button-overlayered-z5 {
    width: 200px;
    height: 35px;
    background:linear-gradient(155deg, #141126 0%, #141126 60%, #FFC778 45%, #FFC778 100%); 
    opacity: 0.6;
}

.submit-button-overlayered-z4 {
    width: 200px;
    height: 35px;
    background:linear-gradient(45deg, #141126 0%, #141126 75%, #58b4ea 50%, #58b4ea 100%); 
    opacity: 0.5;
}

.submit-button-overlayered-z3 {
    width: 200px;
    height: 35px;
    background-color: turquoise;
    opacity: 0.8;
}

.submit-button-overlayered-z2 {
    width: 200px;
    height: 35px;
    background-color: turquoise;
    background:linear-gradient(90deg, #141126 0%, #141126 35%, turquoise 70%, turquoise 100%); 
    opacity: 0.5;
}

.submit-button-overlayered-z1 {
    width: 200px;
    height: 35px;
    background-color: turquoise;
    background:linear-gradient(90deg, #141126 0%, #141126 45%, white 90%, white 100%); 
    opacity: 0.5;
}