/* header
------------------------------ */

body {
    background-color: black;
}

#myCanvas {
    z-index: -99999;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}

#header {
    z-index: 0;
    height: 75px;
    font-family: 'Oswald', sans-serif;

}

#header .wrapper {
    overflow: hidden;
    width: 80vw;
    margin: 0 10vw;
}

#header p {
    float: left;
    margin: 22px 0 0;
    font-size: 1.4rem;
    font-weight: 300;
}

#header p a {
    text-decoration: none;
    color: white;
}

#header ul {
    margin: 28px 0;
    font-size: 0.9rem;
    font-weight: 500;
    float: right;
    list-style: none;
}

#header ul li {
    position: relative;
    float: left;
    margin-right: 40px;
}

#header ul li a {
    color: white;
    text-decoration: none;
}

#header ul li:hover:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent white;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
    margin-left: -15px;
}

#header ul li:last-child {
    margin-right: 0;
}

.container {
    height: calc(100vh - 75px);
    margin: 0 10vw;
    color: white;
}

.container .left {
    height: calc(100vh - 75px);
    width: 60vw;
}

.container .right {
    height: calc(100vh - 75px);
    width: 20vw;
}

.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.flex-container{
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}  

.flex-container p {
   line-height: 100px;
   font-size: 60px;
   padding: 16px;
   font-family: sans-serif;
   font-weight: 600;
}

.logo {
    float: left;
}