/* header
------------------------------ */

body {
    background-color: black;
}

#myCanvas {
    z-index: -99999;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}

#header {
    z-index: 0;
    height: 75px;
    font-family: 'Oswald', sans-serif;
}

#header .wrapper {
    overflow: hidden;
    width: 80vw;
    margin: 0 10vw;
}

#header p {
    float: left;
    margin: 22px 0 0;
    font-size: 1.4rem;
    font-weight: 300;
}

#header p a {
    text-decoration: none;
    color: white;
}

#header ul {
    margin: 28px 0;
    font-size: 0.9rem;
    font-weight: 500;
    float: right;
    list-style: none;
}

.header-item {
    position: relative;
    float: left;
    margin-right: 40px;
}

.header-item a {
    color: white;
    text-decoration: none;
}

.header-item:hover:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent white;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
    margin-left: -15px;
}

.header-item:last-child {
    margin-right: 0;
}

.logo {
    float: left;
}

.header-selected {
    color: yellow;
}

.header-selected a{
    color: yellow;
    text-decoration: underline;
    padding-bottom: 4px;
}

.header-selected::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent yellow;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
    margin-left: -15px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    #header {
        height: 140px;
    }

    #header ul {
        font-size: 1.8rem;
    }

    #header p {
        margin: 29px 0 0;
        font-size: 1.5em;
    }
}